---
layout: default
---
<div class="container">
  <div class="docs">
    {{ content }}
  </div>

  <!--
  <div class="docs-sidebar">
    <ul>
      <li><a href="{{ site.baseurl }}/docs">Getting started</a></li>
      <li><a href="{{ site.baseurl }}/docs/api">API</a></li>
      <li><a href="{{ site.baseurl }}/docs/curl">Curl</a></li>
      <li><a href="{{ site.baseurl }}/docs/javascript">JavaScript</a></li>
      <li><a href="{{ site.baseurl }}/docs/ruby">Ruby</a></li>
    </ul>
  </div>
  -->
</div>