---
layout: page
---

{% if page.published == true %}
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <span class="post-author">{{ page.author }}</span> //
    <span class="post-date">{{ page.date | date: "%-d %B %Y" }}</span>
  </div>
  <div class="post-content">{{ content }}</div>

  <br>
<div class="bio">
  <p><img class="headshot" src="/images/sethvincent.png"><i>Seth Vincent is a programmer, designer, & writer. Previously he's worked as a writing tutor and as an advisor of a student news organization. He's a co-organizer of <a href="http://codeforseattle.org" target="blank">Code for Seattle</a>, and likes to blog about JavaScript at <a href="http://learnjs.io" target="blank">learnjs.io</a> & about Seattle at <a href="http://seattle.io" target="blank">seattle.io</a>.</i></p>
  <a href="https://twitter.com/sethdvincent" class="twitter-follow-button" data-dnt="true" data-show_count="false">Follow @sethdvincent</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <iframe src="http://ghbtns.com/github-btn.html?user=sethvincent&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="140" height="20"></iframe>
</div>
{% endif %}